<!DOCTYPE html>
<html ng-app="angularjs-starter">
  
  <head lang="en">
    <meta charset="utf-8">
    <title>autowire directive</title>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.5/angular.js"></script>
    <link rel="stylesheet" href="style.css">
    <script>
      document.write('<base href="' + document.location + '" />');
    </script>
    <script src="autowire.js"></script>
    <script src="app.js"></script>
  </head>
  
  <body ng-controller="MainCtrl">
      <script type="text/ng-template" id="client-details.tpl">
        <div>
            Hey {{name}} and {{client}}
            <br>
            <input ng-model="client">
            <input ng-model="cont">
        </div>
      </script>
      
    <h1>Hello {{name}}</h1>
    
    <input ng-model="entry.data.name"> <input ng-model="cont">
      {{entry}} {{cont}}
    <hr>
    
    <client-details autowire client="cont"></client-details>
    <hr>
    <client-details autowire path="partials" client="entry.data.name"></client-details>
   
  </body>

</html>